In [31]:
from pyspark.sql import SparkSession

In [32]:
SparkSession

pyspark.sql.session.SparkSession

In [33]:
# Initialisation de Spark
import findspark
import json 
import os 
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("NotebookTest") \
    .master("spark://spark-master:7077") \
    .getOrCreate()



print("Session Spark connectée :", spark.version)

Session Spark connectée : 3.5.7

In [34]:
base_nosql = spark.read.option("header", "true").csv("hdfs://namenode:8020/data_collection/base_nosql.csv")

In [35]:
base_nosql.show()

[Stage 3:>                                                          (0 + 1) / 1]

+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+
| nom| prenom|age|sexe|      ville|     maladie|             hopital|date_consultation|   medecin|
+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+
|Diop|    Awa| 32|   F|      Dakar|     Diabète|   Hôpital Principal|       2025-10-10|Dr. Ndiaye|
|Fall|Mamadou| 45|   M|      Thiès|Hypertension|Hôpital Régional ...|       2025-09-22|Dr. Diallo|
| Sow|  Fatou| 28|   F|Saint-Louis|   Paludisme|Centre de Santé d...|       2025-10-02|    Dr. Sy|
|Diop|    Awa| 32|   F|      Dakar|     Diabète|   Hôpital Principal|       2025-10-10|Dr. Ndiaye|
|Fall|Mamadou| 45|   M|      Thiès|Hypertension|Hôpital Régional ...|       2025-09-22|Dr. Diallo|
| Sow|  Fatou| 28|   F|Saint-Louis|   Paludisme|Centre de Santé d...|       2025-10-02|    Dr. Sy|
+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+

In [36]:
#Voir la structure des données
base_nosql.printSchema()

root
 |-- nom: string (nullable = true)
 |-- prenom: string (nullable = true)
 |-- age: string (nullable = true)
 |-- sexe: string (nullable = true)
 |-- ville: string (nullable = true)
 |-- maladie: string (nullable = true)
 |-- hopital: string (nullable = true)
 |-- date_consultation: string (nullable = true)
 |-- medecin: string (nullable = true)

In [37]:
from pyspark.sql.functions import col, to_date
from pyspark.sql.types import IntegerType

# Convertir age en entier
base_nosql = base_nosql.withColumn("age", col("age").cast(IntegerType()))

# Convertir date_consultation en date
base_nosql = base_nosql.withColumn("date_consultation", to_date(col("date_consultation"), "yyyy-MM-dd"))

base_nosql.printSchema()

root
 |-- nom: string (nullable = true)
 |-- prenom: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sexe: string (nullable = true)
 |-- ville: string (nullable = true)
 |-- maladie: string (nullable = true)
 |-- hopital: string (nullable = true)
 |-- date_consultation: date (nullable = true)
 |-- medecin: string (nullable = true)

In [38]:
#Voir le nombre total de lignes
base_nosql.count()

6

In [39]:
#supprimer les doublons

base_nosql = base_nosql.dropDuplicates()
base_nosql.show()

+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+
| nom| prenom|age|sexe|      ville|     maladie|             hopital|date_consultation|   medecin|
+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+
|Diop|    Awa| 32|   F|      Dakar|     Diabète|   Hôpital Principal|       2025-10-10|Dr. Ndiaye|
| Sow|  Fatou| 28|   F|Saint-Louis|   Paludisme|Centre de Santé d...|       2025-10-02|    Dr. Sy|
|Fall|Mamadou| 45|   M|      Thiès|Hypertension|Hôpital Régional ...|       2025-09-22|Dr. Diallo|
+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+

In [40]:
#Nettoyer les espaces dans toutes les colonnes texte
from pyspark.sql.functions import trim

for col_name in base_nosql.columns:
    base_nosql = base_nosql.withColumn(col_name, trim(col(col_name)))
base_nosql.show()

+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+
| nom| prenom|age|sexe|      ville|     maladie|             hopital|date_consultation|   medecin|
+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+
|Diop|    Awa| 32|   F|      Dakar|     Diabète|   Hôpital Principal|       2025-10-10|Dr. Ndiaye|
| Sow|  Fatou| 28|   F|Saint-Louis|   Paludisme|Centre de Santé d...|       2025-10-02|    Dr. Sy|
|Fall|Mamadou| 45|   M|      Thiès|Hypertension|Hôpital Régional ...|       2025-09-22|Dr. Diallo|
+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+

In [41]:
#Nettoyer les espaces dans toutes les colonnes texte
from pyspark.sql.functions import trim

for col_name in base_nosql.columns:
    base_nosql = base_nosql.withColumn(col_name, trim(col(col_name)))
base_nosql.show()

+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+
| nom| prenom|age|sexe|      ville|     maladie|             hopital|date_consultation|   medecin|
+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+
|Diop|    Awa| 32|   F|      Dakar|     Diabète|   Hôpital Principal|       2025-10-10|Dr. Ndiaye|
| Sow|  Fatou| 28|   F|Saint-Louis|   Paludisme|Centre de Santé d...|       2025-10-02|    Dr. Sy|
|Fall|Mamadou| 45|   M|      Thiès|Hypertension|Hôpital Régional ...|       2025-09-22|Dr. Diallo|
+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+

In [42]:
#Mettre la première lettre en Majuscule pour les colonnes texte (nom, prenom, ville, maladie, hopital, medecin, sexe)
from pyspark.sql.functions import initcap

cols_to_format = ["nom", "prenom", "ville", "maladie", "hopital", "medecin", "sexe"]

for c in cols_to_format:
    base_nosql = base_nosql.withColumn(c, initcap(col(c)))

base_nosql.show()

+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+
| nom| prenom|age|sexe|      ville|     maladie|             hopital|date_consultation|   medecin|
+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+
|Diop|    Awa| 32|   F|      Dakar|     Diabète|   Hôpital Principal|       2025-10-10|Dr. Ndiaye|
| Sow|  Fatou| 28|   F|Saint-louis|   Paludisme|Centre De Santé D...|       2025-10-02|    Dr. Sy|
|Fall|Mamadou| 45|   M|      Thiès|Hypertension|Hôpital Régional ...|       2025-09-22|Dr. Diallo|
+----+-------+---+----+-----------+------------+--------------------+-----------------+----------+

In [43]:
base_sql = spark.read.option("header", "true").csv("hdfs://namenode:8020/data_collection/base_sql.csv")
base_sql.show()

+---+-----------------+---+----+---------------+-----------------+
| id|              nom|age|sexe|        maladie|date_consultation|
+---+-----------------+---+----+---------------+-----------------+
|  1|Catherine Michaud| 73|   F|         Asthme|       2024-10-28|
|  2|  Richard Thierry| 84|   M|    Tuberculose|       2024-07-25|
|  3|    Aurore Brunet| 26|   F|            VIH|       2024-09-10|
|  4|   Tristan Renaud| 31|   F|         Asthme|       2025-11-02|
|  5|     Marine Neveu| 38|   F|            VIH|       2025-04-29|
|  6| Marthe Letellier| 60|   M|        Diabète|       2024-04-22|
|  7|    Astrid Perret|  4|   F|Gastro-entérite|       2025-05-02|
|  8|   Marcelle Costa| 40|   F|       Covid-19|       2024-03-20|
|  9|   Nathalie David| 34|   F|        Choléra|       2024-08-27|
| 10|    Victor Menard| 55|   M|    Tuberculose|       2025-05-09|
| 11|  Édouard Vasseur| 61|   M|   Hypertension|       2024-01-01|
| 12|       David Blot| 38|   F|         Grippe|       2025-01-04|
| 13|  Michelle Martin| 24|   M|         Grippe|       2024-05-28|
| 14|  Émilie Leclercq| 35|   M|Gastro-entérite|       2024-03-21|
| 15|   Inès Rodrigues| 66|   M|         Anémie|       2024-03-10|
| 16|  Monique Mathieu| 36|   F|    Tuberculose|       2025-01-02|
| 17|  Odette Courtois| 21|   M|       Covid-19|       2025-03-01|
| 18|  François Besson| 31|   F|Gastro-entérite|       2025-04-20|
| 19| Adrienne Carlier| 32|   F|       Covid-19|       2025-07-13|
| 20|   Gilles Bonneau| 37|   F|        Diabète|       2025-01-24|
+---+-----------------+---+----+---------------+-----------------+
only showing top 20 rows

In [44]:
# voir la structure des données
base_sql.printSchema()

root
 |-- id: string (nullable = true)
 |-- nom: string (nullable = true)
 |-- age: string (nullable = true)
 |-- sexe: string (nullable = true)
 |-- maladie: string (nullable = true)
 |-- date_consultation: string (nullable = true)

In [45]:
from pyspark.sql.functions import col, to_date
from pyspark.sql.types import IntegerType

# Convertir age en entier
base_sql = base_sql.withColumn("age", col("age").cast(IntegerType()))

# Convertir id en entier
base_sql = base_sql.withColumn("id", col("id").cast(IntegerType()))


# Convertir date_consultation en date
base_sql = base_sql.withColumn("date_consultation", to_date(col("date_consultation"), "yyyy-MM-dd"))

base_sql.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nom: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sexe: string (nullable = true)
 |-- maladie: string (nullable = true)
 |-- date_consultation: date (nullable = true)

In [46]:
#voir le nombre total de lignes
base_sql.count()

200

In [47]:
# Supprimer les doublons
base_sql = base_sql.dropDuplicates()
base_sql.show()

+---+-----------------+---+----+---------------+-----------------+
| id|              nom|age|sexe|        maladie|date_consultation|
+---+-----------------+---+----+---------------+-----------------+
|172|      Pierre Blin| 12|   M|        Diabète|       2025-05-06|
| 51|      René Briand| 62|   M|        Diabète|       2024-11-18|
| 88|  Astrid Delannoy| 79|   F|        Choléra|       2024-06-14|
|190|     Xavier Caron| 77|   F|        Diabète|       2025-04-15|
|168| Pénélope Guillot| 62|   F|        Diabète|       2024-05-25|
|174| Matthieu Regnier|  7|   F|Gastro-entérite|       2024-08-04|
|123|      Jean Fleury|  7|   F|         Anémie|       2024-09-27|
|  5|     Marine Neveu| 38|   F|            VIH|       2025-04-29|
|120| Juliette Michaud| 65|   M|         Grippe|       2025-03-28|
|  1|Catherine Michaud| 73|   F|         Asthme|       2024-10-28|
| 20|   Gilles Bonneau| 37|   F|        Diabète|       2025-01-24|
|160|    Andrée Briand| 55|   F|      Paludisme|       2024-12-28|
| 47| Josette Langlois|  6|   M|Gastro-entérite|       2025-02-22|
|108|   Hélène Reynaud| 26|   F|         Anémie|       2024-02-16|
|161|  Capucine Gilles| 71|   F|        Choléra|       2024-04-30|
|129|   Nathalie Bègue| 12|   F|         Grippe|       2024-06-16|
|145|     Denis Becker| 87|   F|   Hypertension|       2024-05-31|
| 83|Françoise Clément| 49|   F|            VIH|       2024-02-17|
|141|    Olivie Lefort| 34|   F|         Asthme|       2023-11-25|
| 35|  Suzanne Chauvet| 37|   M|Gastro-entérite|       2023-12-05|
+---+-----------------+---+----+---------------+-----------------+
only showing top 20 rows

In [48]:
base_sql.count()

200

In [49]:
#Nettoyer les espaces dans toutes les colonnes texte
from pyspark.sql.functions import trim

for col_name in base_sql.columns:
    base_sql = base_sql.withColumn(col_name, trim(col(col_name)))
base_sql.show()

+---+-----------------+---+----+---------------+-----------------+
| id|              nom|age|sexe|        maladie|date_consultation|
+---+-----------------+---+----+---------------+-----------------+
|172|      Pierre Blin| 12|   M|        Diabète|       2025-05-06|
| 51|      René Briand| 62|   M|        Diabète|       2024-11-18|
| 88|  Astrid Delannoy| 79|   F|        Choléra|       2024-06-14|
|190|     Xavier Caron| 77|   F|        Diabète|       2025-04-15|
|168| Pénélope Guillot| 62|   F|        Diabète|       2024-05-25|
|174| Matthieu Regnier|  7|   F|Gastro-entérite|       2024-08-04|
|123|      Jean Fleury|  7|   F|         Anémie|       2024-09-27|
|  5|     Marine Neveu| 38|   F|            VIH|       2025-04-29|
|120| Juliette Michaud| 65|   M|         Grippe|       2025-03-28|
|  1|Catherine Michaud| 73|   F|         Asthme|       2024-10-28|
| 20|   Gilles Bonneau| 37|   F|        Diabète|       2025-01-24|
|160|    Andrée Briand| 55|   F|      Paludisme|       2024-12-28|
| 47| Josette Langlois|  6|   M|Gastro-entérite|       2025-02-22|
|108|   Hélène Reynaud| 26|   F|         Anémie|       2024-02-16|
|161|  Capucine Gilles| 71|   F|        Choléra|       2024-04-30|
|129|   Nathalie Bègue| 12|   F|         Grippe|       2024-06-16|
|145|     Denis Becker| 87|   F|   Hypertension|       2024-05-31|
| 83|Françoise Clément| 49|   F|            VIH|       2024-02-17|
|141|    Olivie Lefort| 34|   F|         Asthme|       2023-11-25|
| 35|  Suzanne Chauvet| 37|   M|Gastro-entérite|       2023-12-05|
+---+-----------------+---+----+---------------+-----------------+
only showing top 20 rows

In [50]:
#Mettre la première lettre en Majuscule pour les colonnes texte (nom, prenom, ville, maladie, hopital, medecin, sexe)
from pyspark.sql.functions import initcap

cols_to_format = ["nom", "maladie", "sexe"]

for c in cols_to_format:
    base_sql = base_sql.withColumn(c, initcap(col(c)))

base_sql.show()

+---+-----------------+---+----+---------------+-----------------+
| id|              nom|age|sexe|        maladie|date_consultation|
+---+-----------------+---+----+---------------+-----------------+
|172|      Pierre Blin| 12|   M|        Diabète|       2025-05-06|
| 51|      René Briand| 62|   M|        Diabète|       2024-11-18|
| 88|  Astrid Delannoy| 79|   F|        Choléra|       2024-06-14|
|190|     Xavier Caron| 77|   F|        Diabète|       2025-04-15|
|168| Pénélope Guillot| 62|   F|        Diabète|       2024-05-25|
|174| Matthieu Regnier|  7|   F|Gastro-entérite|       2024-08-04|
|123|      Jean Fleury|  7|   F|         Anémie|       2024-09-27|
|  5|     Marine Neveu| 38|   F|            Vih|       2025-04-29|
|120| Juliette Michaud| 65|   M|         Grippe|       2025-03-28|
|  1|Catherine Michaud| 73|   F|         Asthme|       2024-10-28|
| 20|   Gilles Bonneau| 37|   F|        Diabète|       2025-01-24|
|160|    Andrée Briand| 55|   F|      Paludisme|       2024-12-28|
| 47| Josette Langlois|  6|   M|Gastro-entérite|       2025-02-22|
|108|   Hélène Reynaud| 26|   F|         Anémie|       2024-02-16|
|161|  Capucine Gilles| 71|   F|        Choléra|       2024-04-30|
|129|   Nathalie Bègue| 12|   F|         Grippe|       2024-06-16|
|145|     Denis Becker| 87|   F|   Hypertension|       2024-05-31|
| 83|Françoise Clément| 49|   F|            Vih|       2024-02-17|
|141|    Olivie Lefort| 34|   F|         Asthme|       2023-11-25|
| 35|  Suzanne Chauvet| 37|   M|Gastro-entérite|       2023-12-05|
+---+-----------------+---+----+---------------+-----------------+
only showing top 20 rows

In [51]:
donnee_sante = spark.read.option("header", "true").csv("hdfs://namenode:8020/data_collection/donnee_sante.csv")
donnee_sante.show()

+---+-----------+--------------------+----+---+------------+-----------------+-------------+-----------------+
| id|     region|             hopital|sexe|age|     maladie|date_consultation|   traitement|cout_consultation|
+---+-----------+--------------------+----+---+------------+-----------------+-------------+-----------------+
|  1| Ziguinchor|Hôpital Aristide ...|   M|  5|     Diabète|       2024-04-22|     Quinimax|            13727|
|  2|      Dakar|   Hôpital Principal|   F| 12|Hypertension|       2024-08-28|     Quinimax|             2920|
|  3|Tambacounda|Hôpital de Ziguin...|   M| 85|   Paludisme|       2024-01-08|  Paracétamol|             4863|
|  4|      Dakar|Hôpital Aristide ...|   F| 27|   Paludisme|       2024-02-07|Antibiotiques|            17624|
|  5|      Thiès|    Hôpital Régional|   M| 40| Tuberculose|       2024-08-21|Antibiotiques|             7540|
|  6|      Dakar|Centre de Santé T...|   M| 21|Hypertension|       2024-02-04|     Quinimax|             9731|
|  7|Tambacounda|Hôpital Aristide ...|   F| 38|      Grippe|       2024-01-17|     Quinimax|             9283|
|  8| Ziguinchor|Hôpital Aristide ...|   F| 52|Hypertension|       2024-03-11|     Quinimax|             9410|
|  9|    Kaolack|    Hôpital Régional|   F| 10|     Diabète|       2024-09-09|  Paracétamol|             3591|
| 10|Tambacounda|    Hôpital de Thiès|   M| 23|   Paludisme|       2024-07-25|  Paracétamol|             3726|
| 11| Ziguinchor|   Hôpital Principal|   M| 82|      Grippe|       2024-07-17|  Paracétamol|            10705|
| 12|Saint-Louis|    Hôpital Régional|   M|  4|      Grippe|       2024-09-01|  Paracétamol|            15659|
| 13|      Dakar|Hôpital de Ziguin...|   F|  5|Hypertension|       2024-08-01|  Paracétamol|             2404|
| 14|      Dakar|    Hôpital de Thiès|   F| 33|      Grippe|       2024-01-22|        Repos|            16175|
| 15|Saint-Louis|Hôpital de Ziguin...|   F| 78|    Covid-19|       2024-05-03|  Chloroquine|            13987|
| 16|Tambacounda|    Hôpital de Thiès|   F| 33|Hypertension|       2024-09-24|     Quinimax|             6551|
| 17| Ziguinchor|Hôpital Aristide ...|   M| 37|      Grippe|       2024-01-10|     Insuline|            14840|
| 18|Tambacounda|Hôpital Aristide ...|   F| 20|     Diabète|       2024-08-23|  Paracétamol|            18505|
| 19|Tambacounda|Hôpital de Ziguin...|   F| 76|      Grippe|       2024-07-22|Antibiotiques|            11113|
| 20|Saint-Louis|Hôpital Aristide ...|   M| 54|      Grippe|       2024-07-17|Antibiotiques|            10391|
+---+-----------+--------------------+----+---+------------+-----------------+-------------+-----------------+
only showing top 20 rows

In [52]:
donnee_sante.printSchema()

root
 |-- id: string (nullable = true)
 |-- region: string (nullable = true)
 |-- hopital: string (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: string (nullable = true)
 |-- maladie: string (nullable = true)
 |-- date_consultation: string (nullable = true)
 |-- traitement: string (nullable = true)
 |-- cout_consultation: string (nullable = true)

In [53]:
from pyspark.sql.functions import col, to_date
from pyspark.sql.types import IntegerType

# Convertir age en entier
donnee_sante = donnee_sante.withColumn("age", col("age").cast(IntegerType()))

# Convertir id en entier
donnee_sante = donnee_sante.withColumn("id", col("id").cast(IntegerType()))

# Convertir cout_consultation en entier
donnee_sante = donnee_sante.withColumn("cout_consultation", col("cout_consultation").cast(IntegerType()))


# Convertir date_consultation en date
donnee_sante = donnee_sante.withColumn("date_consultation", to_date(col("date_consultation"), "yyyy-MM-dd"))

donnee_sante.printSchema()

root
 |-- id: integer (nullable = true)
 |-- region: string (nullable = true)
 |-- hopital: string (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- maladie: string (nullable = true)
 |-- date_consultation: date (nullable = true)
 |-- traitement: string (nullable = true)
 |-- cout_consultation: integer (nullable = true)

In [54]:
# Supprimer les doublons
donnee_sante = donnee_sante.dropDuplicates()
donnee_sante.show()

+---+-----------+--------------------+----+---+------------+-----------------+-------------+-----------------+
| id|     region|             hopital|sexe|age|     maladie|date_consultation|   traitement|cout_consultation|
+---+-----------+--------------------+----+---+------------+-----------------+-------------+-----------------+
| 92|Saint-Louis|   Hôpital Principal|   F| 16|      Grippe|       2024-10-01|  Paracétamol|            12485|
| 97|      Dakar|Hôpital Aristide ...|   M| 46|     Diabète|       2024-09-24|        Repos|            17703|
| 22|    Kaolack|    Hôpital Régional|   M| 30|Hypertension|       2024-07-04|     Quinimax|             3894|
| 90|    Kaolack|    Hôpital Régional|   F| 11|    Covid-19|       2024-09-10|  Chloroquine|            16685|
|  6|      Dakar|Centre de Santé T...|   M| 21|Hypertension|       2024-02-04|     Quinimax|             9731|
| 59|      Dakar|   Hôpital Principal|   M|  8| Tuberculose|       2024-06-05|Antibiotiques|             4484|
| 21|Saint-Louis|    Hôpital de Thiès|   M| 52|   Paludisme|       2024-06-14|     Insuline|            19482|
| 29|      Dakar|    Hôpital de Thiès|   M| 17|      Grippe|       2024-06-20|  Paracétamol|             8454|
| 84|    Kaolack|Hôpital Aristide ...|   F| 72|    Covid-19|       2024-04-02|     Quinimax|            11963|
| 15|Saint-Louis|Hôpital de Ziguin...|   F| 78|    Covid-19|       2024-05-03|  Chloroquine|            13987|
| 54|Tambacounda|Hôpital Aristide ...|   M| 14| Tuberculose|       2024-06-01|  Chloroquine|             6486|
| 57|Saint-Louis|    Hôpital de Thiès|   M| 78|Hypertension|       2024-06-27|  Paracétamol|            14617|
| 71|      Thiès|Hôpital Aristide ...|   M| 28| Tuberculose|       2024-04-16|     Insuline|             7690|
| 82|      Dakar|   Hôpital Principal|   F| 24|     Diabète|       2024-07-11|     Insuline|             2512|
|  8| Ziguinchor|Hôpital Aristide ...|   F| 52|Hypertension|       2024-03-11|     Quinimax|             9410|
| 10|Tambacounda|    Hôpital de Thiès|   M| 23|   Paludisme|       2024-07-25|  Paracétamol|             3726|
| 88| Ziguinchor|Hôpital de Ziguin...|   M| 76|      Grippe|       2024-07-15|Antibiotiques|            16986|
| 31|Tambacounda|    Hôpital de Thiès|   M| 73|Hypertension|       2024-01-31|        Repos|             8180|
| 46| Ziguinchor|Centre de Santé T...|   M| 24|    Covid-19|       2024-01-27|  Paracétamol|             3273|
|  1| Ziguinchor|Hôpital Aristide ...|   M|  5|     Diabète|       2024-04-22|     Quinimax|            13727|
+---+-----------+--------------------+----+---+------------+-----------------+-------------+-----------------+
only showing top 20 rows

In [55]:
donnee_sante.count()

100

In [56]:
#Nettoyer les espaces dans toutes les colonnes texte
from pyspark.sql.functions import trim

for col_name in donnee_sante.columns:
    donnee_sante = donnee_sante.withColumn(col_name, trim(col(col_name)))
donnee_sante.show()

+---+-----------+--------------------+----+---+------------+-----------------+-------------+-----------------+
| id|     region|             hopital|sexe|age|     maladie|date_consultation|   traitement|cout_consultation|
+---+-----------+--------------------+----+---+------------+-----------------+-------------+-----------------+
| 92|Saint-Louis|   Hôpital Principal|   F| 16|      Grippe|       2024-10-01|  Paracétamol|            12485|
| 97|      Dakar|Hôpital Aristide ...|   M| 46|     Diabète|       2024-09-24|        Repos|            17703|
| 22|    Kaolack|    Hôpital Régional|   M| 30|Hypertension|       2024-07-04|     Quinimax|             3894|
| 90|    Kaolack|    Hôpital Régional|   F| 11|    Covid-19|       2024-09-10|  Chloroquine|            16685|
|  6|      Dakar|Centre de Santé T...|   M| 21|Hypertension|       2024-02-04|     Quinimax|             9731|
| 59|      Dakar|   Hôpital Principal|   M|  8| Tuberculose|       2024-06-05|Antibiotiques|             4484|
| 21|Saint-Louis|    Hôpital de Thiès|   M| 52|   Paludisme|       2024-06-14|     Insuline|            19482|
| 29|      Dakar|    Hôpital de Thiès|   M| 17|      Grippe|       2024-06-20|  Paracétamol|             8454|
| 84|    Kaolack|Hôpital Aristide ...|   F| 72|    Covid-19|       2024-04-02|     Quinimax|            11963|
| 15|Saint-Louis|Hôpital de Ziguin...|   F| 78|    Covid-19|       2024-05-03|  Chloroquine|            13987|
| 54|Tambacounda|Hôpital Aristide ...|   M| 14| Tuberculose|       2024-06-01|  Chloroquine|             6486|
| 57|Saint-Louis|    Hôpital de Thiès|   M| 78|Hypertension|       2024-06-27|  Paracétamol|            14617|
| 71|      Thiès|Hôpital Aristide ...|   M| 28| Tuberculose|       2024-04-16|     Insuline|             7690|
| 82|      Dakar|   Hôpital Principal|   F| 24|     Diabète|       2024-07-11|     Insuline|             2512|
|  8| Ziguinchor|Hôpital Aristide ...|   F| 52|Hypertension|       2024-03-11|     Quinimax|             9410|
| 10|Tambacounda|    Hôpital de Thiès|   M| 23|   Paludisme|       2024-07-25|  Paracétamol|             3726|
| 88| Ziguinchor|Hôpital de Ziguin...|   M| 76|      Grippe|       2024-07-15|Antibiotiques|            16986|
| 31|Tambacounda|    Hôpital de Thiès|   M| 73|Hypertension|       2024-01-31|        Repos|             8180|
| 46| Ziguinchor|Centre de Santé T...|   M| 24|    Covid-19|       2024-01-27|  Paracétamol|             3273|
|  1| Ziguinchor|Hôpital Aristide ...|   M|  5|     Diabète|       2024-04-22|     Quinimax|            13727|
+---+-----------+--------------------+----+---+------------+-----------------+-------------+-----------------+
only showing top 20 rows

In [57]:
#Mettre la première lettre en Majuscule pour les colonnes texte (nom, prenom, ville, maladie, hopital, medecin, sexe)
from pyspark.sql.functions import initcap

cols_to_format = ["region", "hopital", "sexe", "maladie", "traitement"]

for c in cols_to_format:
   donnee_sante = donnee_sante.withColumn(c, initcap(col(c)))

donnee_sante.show()

+---+-----------+--------------------+----+---+------------+-----------------+-------------+-----------------+
| id|     region|             hopital|sexe|age|     maladie|date_consultation|   traitement|cout_consultation|
+---+-----------+--------------------+----+---+------------+-----------------+-------------+-----------------+
| 92|Saint-louis|   Hôpital Principal|   F| 16|      Grippe|       2024-10-01|  Paracétamol|            12485|
| 97|      Dakar|Hôpital Aristide ...|   M| 46|     Diabète|       2024-09-24|        Repos|            17703|
| 22|    Kaolack|    Hôpital Régional|   M| 30|Hypertension|       2024-07-04|     Quinimax|             3894|
| 90|    Kaolack|    Hôpital Régional|   F| 11|    Covid-19|       2024-09-10|  Chloroquine|            16685|
|  6|      Dakar|Centre De Santé T...|   M| 21|Hypertension|       2024-02-04|     Quinimax|             9731|
| 59|      Dakar|   Hôpital Principal|   M|  8| Tuberculose|       2024-06-05|Antibiotiques|             4484|
| 21|Saint-louis|    Hôpital De Thiès|   M| 52|   Paludisme|       2024-06-14|     Insuline|            19482|
| 29|      Dakar|    Hôpital De Thiès|   M| 17|      Grippe|       2024-06-20|  Paracétamol|             8454|
| 84|    Kaolack|Hôpital Aristide ...|   F| 72|    Covid-19|       2024-04-02|     Quinimax|            11963|
| 15|Saint-louis|Hôpital De Ziguin...|   F| 78|    Covid-19|       2024-05-03|  Chloroquine|            13987|
| 54|Tambacounda|Hôpital Aristide ...|   M| 14| Tuberculose|       2024-06-01|  Chloroquine|             6486|
| 57|Saint-louis|    Hôpital De Thiès|   M| 78|Hypertension|       2024-06-27|  Paracétamol|            14617|
| 71|      Thiès|Hôpital Aristide ...|   M| 28| Tuberculose|       2024-04-16|     Insuline|             7690|
| 82|      Dakar|   Hôpital Principal|   F| 24|     Diabète|       2024-07-11|     Insuline|             2512|
|  8| Ziguinchor|Hôpital Aristide ...|   F| 52|Hypertension|       2024-03-11|     Quinimax|             9410|
| 10|Tambacounda|    Hôpital De Thiès|   M| 23|   Paludisme|       2024-07-25|  Paracétamol|             3726|
| 88| Ziguinchor|Hôpital De Ziguin...|   M| 76|      Grippe|       2024-07-15|Antibiotiques|            16986|
| 31|Tambacounda|    Hôpital De Thiès|   M| 73|Hypertension|       2024-01-31|        Repos|             8180|
| 46| Ziguinchor|Centre De Santé T...|   M| 24|    Covid-19|       2024-01-27|  Paracétamol|             3273|
|  1| Ziguinchor|Hôpital Aristide ...|   M|  5|     Diabète|       2024-04-22|     Quinimax|            13727|
+---+-----------+--------------------+----+---+------------+-----------------+-------------+-----------------+
only showing top 20 rows

In [58]:
donnees_sanitaires_api = spark.read.option("header", "true").csv("hdfs://namenode:8020/data_collection/donnees_sanitaires_api.csv")
donnees_sanitaires_api.show()

+-------------+-------------------+--------------------+--------+----------+------+-----------+---------+--------------+-------+--------+------------------+-------------------+---------+------------------+----------+-----------------+----------------+-----------------+----------------+-------------------+----------------------+---------------------+
|      updated|            country|         countryInfo|   cases|todayCases|deaths|todayDeaths|recovered|todayRecovered| active|critical|casesPerOneMillion|deathsPerOneMillion|    tests|testsPerOneMillion|population|        continent|oneCasePerPeople|oneDeathPerPeople|oneTestPerPeople|activePerOneMillion|recoveredPerOneMillion|criticalPerOneMillion|
+-------------+-------------------+--------------------+--------+----------+------+-----------+---------+--------------+-------+--------+------------------+-------------------+---------+------------------+----------+-----------------+----------------+-----------------+----------------+-------------------+----------------------+---------------------+
|1762345498592|        Afghanistan|{'_id': 4, 'iso2'...|  234174|         0|  7996|          0|   211080|             0|  15098|       0|              5746|                196|  1390730|             34125|  40754388|             Asia|             174|             5097|              29|             370.46|               5179.32|                  0.0|
|1762345498582|            Albania|{'_id': 8, 'iso2'...|  334863|         0|  3605|          0|   330233|             0|   1025|       0|            116825|               1258|  1941032|            677173|   2866374|           Europe|               9|              795|               1|             357.59|             115209.32|                  0.0|
|1762345498586|            Algeria|{'_id': 12, 'iso2...|  272010|         0|  6881|          0|   183061|             0|  82068|       0|              5998|                152|   230960|              5093|  45350148|           Africa|             167|             6591|             196|            1809.65|               4036.61|                  0.0|
|1762345498638|            Andorra|{'_id': 20, 'iso2...|   48015|         0|   165|          0|        0|             0|  47850|       0|            619844|               2130|   249838|           3225256|     77463|           Europe|               2|              469|               0|          617714.26|                   0.0|                  0.0|
|1762345498615|             Angola|{'_id': 24, 'iso2...|  107327|         0|  1937|          0|   103419|             0|   1971|       0|              3064|                 55|  1499795|             42818|  35027343|           Africa|             326|            18083|              23|              56.27|               2952.52|                  0.0|
|1762345498710|           Anguilla|{'_id': 660, 'iso...|    3904|         0|    12|          0|        0|             0|   3892|       0|            256336|                788|    51382|           3373736|     15230|    North America|               4|             1269|               0|          255548.26|                   0.0|                  0.0|
|1762345498697|Antigua and Barbuda|{'_id': 28, 'iso2...|    9106|         0|   146|          0|     8954|             0|      6|       0|             91509|               1467|    18901|            189943|     99509|    North America|              11|              682|               5|               60.3|              89981.81|                  0.0|
|1762345498476|          Argentina|{'_id': 32, 'iso2...|10128845|         0|130841|          0|  9997258|             0|    746|       0|            220143|               2844| 35716069|            776264|  46010234|    South America|               5|              352|               1|              16.21|             217283.35|                  0.0|
|1762345498573|            Armenia|{'_id': 51, 'iso2...|  451831|         0|  8777|          0|   435162|             0|   7892|       0|            152031|               2953|  3242901|           1091164|   2971966|             Asia|               7|              339|               1|            2655.48|             146422.27|                  0.0|
|1762345498641|              Aruba|{'_id': 533, 'iso...|   44224|         0|   292|          0|    42438|             0|   1494|       2|            410969|               2714|   177885|           1653068|    107609|    North America|               2|              369|               1|            13883.6|             394372.22|                18.59|
|1762345498472|          Australia|{'_id': 36, 'iso2...|11853144|         0| 24414|          0| 11820014|             0|   8716|       3|            454687|                937| 81916639|           3142326|  26068792|Australia-Oceania|               2|             1068|               0|             334.35|             453416.25|                 0.12|
|1762345498488|            Austria|{'_id': 40, 'iso2...| 6081287|         0| 22542|          0|  6054934|             0|   3811|       0|            670727|               2486|211273524|          23302116|   9066710|           Europe|               1|              402|               0|             420.33|             667820.41|                  0.0|
|1762345498554|         Azerbaijan|{'_id': 31, 'iso2...|  835234|         0| 10400|          0|   824089|             0|    745|       0|             81089|               1010|  7748050|            752223|  10300205|             Asia|              12|              990|               1|              72.33|              80007.05|                  0.0|
|1762345498647|            Bahamas|{'_id': 44, 'iso2...|   38084|         0|   844|          0|    36366|             0|    874|       1|             95087|               2107|   257839|            643767|    400516|    North America|              11|              475|               2|            2182.18|              90797.87|                  2.5|
|1762345498555|            Bahrain|{'_id': 48, 'iso2...|  729549|         0|  1574|          0|   727915|             0|     60|       0|            408944|                882| 10948549|           6137138|   1783983|             Asia|               2|             1133|               0|              33.63|             408027.99|                  0.0|
|1762345498521|         Bangladesh|{'_id': 50, 'iso2...| 2049377|         0| 29493|          0|        0|             0|2019884|       0|             12207|                176| 15254399|             90862| 167885689|             Asia|              82|             5692|              11|           12031.31|                   0.0|                  0.0|
|1762345498614|           Barbados|{'_id': 52, 'iso2...|  110578|         0|   648|          0|   108647|             0|   1283|       0|            383921|               2250|   814159|           2826715|    288023|    North America|               3|              444|               0|            4454.51|              377216.4|                  0.0|
|1762345498550|            Belarus|{'_id': 112, 'iso...|  994037|         0|  7118|          0|   985592|             0|   1327|       0|            105381|                755| 13646641|           1446722|   9432800|           Europe|               9|             1325|               1|             140.68|             104485.62|                  0.0|
|1762345498497|            Belgium|{'_id': 56, 'iso2...| 4861695|         0| 34376|          0|  4826798|            50|    521|       0|            416659|               2946| 37454182|           3209915|  11668278|           Europe|               2|              339|               0|              44.65|             413668.41|                  0.0|
|1762345498626|             Belize|{'_id': 84, 'iso2...|   71409|         0|   688|          0|        0|             0|  70721|       0|            173243|               1669|   576016|           1397453|    412190|    North America|               6|              599|               1|          171573.79|                   0.0|                  0.0|
+-------------+-------------------+--------------------+--------+----------+------+-----------+---------+--------------+-------+--------+------------------+-------------------+---------+------------------+----------+-----------------+----------------+-----------------+----------------+-------------------+----------------------+---------------------+
only showing top 20 rows

In [59]:
donnees_sanitaires_api.printSchema()

root
 |-- updated: string (nullable = true)
 |-- country: string (nullable = true)
 |-- countryInfo: string (nullable = true)
 |-- cases: string (nullable = true)
 |-- todayCases: string (nullable = true)
 |-- deaths: string (nullable = true)
 |-- todayDeaths: string (nullable = true)
 |-- recovered: string (nullable = true)
 |-- todayRecovered: string (nullable = true)
 |-- active: string (nullable = true)
 |-- critical: string (nullable = true)
 |-- casesPerOneMillion: string (nullable = true)
 |-- deathsPerOneMillion: string (nullable = true)
 |-- tests: string (nullable = true)
 |-- testsPerOneMillion: string (nullable = true)
 |-- population: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- oneCasePerPeople: string (nullable = true)
 |-- oneDeathPerPeople: string (nullable = true)
 |-- oneTestPerPeople: string (nullable = true)
 |-- activePerOneMillion: string (nullable = true)
 |-- recoveredPerOneMillion: string (nullable = true)
 |-- criticalPerOneMillion: string (nullable = true)

In [60]:
from pyspark.sql.functions import col

# Colonnes ENTIERES (int)
cols_int = [
    "cases","todayCases","deaths","todayDeaths","recovered","todayRecovered",
    "active","critical","tests","population","oneCasePerPeople",
    "oneDeathPerPeople","oneTestPerPeople"
]

# Colonnes DECIMALES (double)
cols_double = [
    "casesPerOneMillion","deathsPerOneMillion","testsPerOneMillion",
    "activePerOneMillion","recoveredPerOneMillion","criticalPerOneMillion"
]

# Conversion timestamp (long)
donnees_sanitaires_api = donnees_sanitaires_api.withColumn("updated", col("updated").cast("long"))

# Conversion INT
for c in cols_int:
   donnees_sanitaires_api = donnees_sanitaires_api.withColumn(c, col(c).cast("int"))

# Conversion DOUBLE
for c in cols_double:
    donnees_sanitaires_api = donnees_sanitaires_api.withColumn(c, col(c).cast("double"))

donnees_sanitaires_api.printSchema()

root
 |-- updated: long (nullable = true)
 |-- country: string (nullable = true)
 |-- countryInfo: string (nullable = true)
 |-- cases: integer (nullable = true)
 |-- todayCases: integer (nullable = true)
 |-- deaths: integer (nullable = true)
 |-- todayDeaths: integer (nullable = true)
 |-- recovered: integer (nullable = true)
 |-- todayRecovered: integer (nullable = true)
 |-- active: integer (nullable = true)
 |-- critical: integer (nullable = true)
 |-- casesPerOneMillion: double (nullable = true)
 |-- deathsPerOneMillion: double (nullable = true)
 |-- tests: integer (nullable = true)
 |-- testsPerOneMillion: double (nullable = true)
 |-- population: integer (nullable = true)
 |-- continent: string (nullable = true)
 |-- oneCasePerPeople: integer (nullable = true)
 |-- oneDeathPerPeople: integer (nullable = true)
 |-- oneTestPerPeople: integer (nullable = true)
 |-- activePerOneMillion: double (nullable = true)
 |-- recoveredPerOneMillion: double (nullable = true)
 |-- criticalPerOneMillion: double (nullable = true)

In [61]:
# Supprimer les doublons
donnees_sanitaires_api = donnees_sanitaires_api.dropDuplicates()
donnees_sanitaires_api.show()

+-------------+--------------------+--------------------+--------+----------+------+-----------+---------+--------------+------+--------+------------------+-------------------+--------+------------------+----------+-------------+----------------+-----------------+----------------+-------------------+----------------------+---------------------+
|      updated|             country|         countryInfo|   cases|todayCases|deaths|todayDeaths|recovered|todayRecovered|active|critical|casesPerOneMillion|deathsPerOneMillion|   tests|testsPerOneMillion|population|    continent|oneCasePerPeople|oneDeathPerPeople|oneTestPerPeople|activePerOneMillion|recoveredPerOneMillion|criticalPerOneMillion|
+-------------+--------------------+--------------------+--------+----------+------+-----------+---------+--------------+------+--------+------------------+-------------------+--------+------------------+----------+-------------+----------------+-----------------+----------------+-------------------+----------------------+---------------------+
|1762345498701|British Virgin Is...|{'_id': 92, 'iso2...|    7392|         0|    64|          0|        0|             0|  7328|       0|          241600.0|             2092.0|  107339|         3508269.0|     30596|North America|               4|              478|               0|          239508.43|                   0.0|                  0.0|
|1762345498602|          Guadeloupe|{'_id': 312, 'iso...|  203235|         0|  1021|          0|        0|             0|202214|       0|          508349.0|             2554.0|  938039|         2346306.0|    399794|North America|               2|              392|               0|          505795.48|                   0.0|                  0.0|
|1762345498642|            Tanzania|{'_id': 834, 'iso...|   43223|         0|   846|          0|        0|             0| 42377|       0|             683.0|               13.0|       0|               0.0|  63298550|       Africa|            1464|            74821|               0|             669.48|                   0.0|                  0.0|
|1762345498493|             Ukraine|{'_id': 804, 'iso...| 5557995|         0|112418|          0|  5445577|             0|     0|       0|          128681.0|             2603.0|32603805|          754855.0|  43192122|       Europe|               8|              384|               1|                0.0|             126078.01|                  0.0|
|1762345498669|           Gibraltar|{'_id': 292, 'iso...|   20550|         0|   113|          0|        0|             0| 20437|       0|          609720.0|             3353.0|  534283|       1.5852213E7|     33704|       Europe|               2|              298|               0|           606367.2|                   0.0|                  0.0|
|1762345498655|      Cayman Islands|{'_id': 136, 'iso...|   31472|         0|    37|          0|     8553|             0| 22882|       1|          467797.0|              550.0|  222773|         3311280.0|     67277|North America|               2|             1818|               0|          340116.24|             127131.11|                14.86|
|1762345498658|               Macao|{'_id': 446, 'iso...|   27673|         0|   123|          0|     3487|             0| 24063|       0|           41458.0|              184.0|    7850|           11760.0|    667490|         Asia|              24|             5427|              85|           36049.98|               5224.05|                  0.0|
|1762345498475|              Taiwan|{'_id': 158, 'iso...|10241523|         0| 19005|          0| 10222518|             0|     0|       0|          428720.0|              796.0|30742304|         1286903.0|  23888595|         Asia|               2|             1257|               1|                0.0|             427924.62|                  0.0|
|1762345498494|               Chile|{'_id': 152, 'iso...| 5384853|         0| 64497|          0|  5252450|             0| 67906|       7|          279730.0|             3350.0|50382097|         2617225.0|  19250195|South America|               4|              298|               0|            3527.55|             272851.78|                 0.36|
|1762345498618|       French Guiana|{'_id': 254, 'iso...|   98041|         0|   420|          0|    11254|             0| 86367|       6|          312065.0|             1337.0|  651257|         2072951.0|    314169|South America|               3|              748|               0|          274906.18|              35821.48|                 19.1|
|1762345498649|         Isle of Man|{'_id': 833, 'iso...|   38008|         0|   116|          0|        0|             0| 37892|       0|          443335.0|             1353.0|  150753|         1758422.0|     85732|       Europe|               2|              739|               1|          441981.99|                   0.0|                  0.0|
|1762345498589|            Zimbabwe|{'_id': 716, 'iso...|  266359|         0|  5740|          0|   258888|             0|  1731|      12|           17373.0|              374.0| 2525756|          164744.0|  15331428|       Africa|              58|             2671|               6|             112.91|               16886.1|                 0.78|
|1762345498638|             Andorra|{'_id': 20, 'iso2...|   48015|         0|   165|          0|        0|             0| 47850|       0|          619844.0|             2130.0|  249838|         3225256.0|     77463|       Europe|               2|              469|               0|          617714.26|                   0.0|                  0.0|
|1762345498671|             Bermuda|{'_id': 60, 'iso2...|   18860|         0|   165|          0|    18685|             0|    10|       0|          304493.0|             2664.0| 1029558|       1.6622128E7|     61939|North America|               3|              375|               0|             161.45|             301667.77|                  0.0|
|1762345498616|     Channel Islands|{'_id': 832, 'iso...|  101717|         0|   228|          0|   101321|             0|   168|       0|          576421.0|             1292.0| 1252808|         7099551.0|    176463|       Europe|               2|              774|               0|             952.04|             574177.02|                  0.0|
|1762345498548|            Mongolia|{'_id': 496, 'iso...| 1011496|         0|  2284|          0|  1009212|             0|     0|       0|          299429.0|              676.0| 4030048|         1193000.0|   3378078|         Asia|               3|             1479|               1|                0.0|             298753.31|                  0.0|
|1762345498657|               Benin|{'_id': 204, 'iso...|   28036|         0|   163|          0|    27847|             0|    26|       0|            2193.0|               13.0|  604310|           47268.0|  12784726|       Africa|             456|            78434|              21|               2.03|               2178.15|                  0.0|
|1762345498562|             Moldova|{'_id': 498, 'iso...|  635145|         0| 12218|          0|        0|             0|622927|       0|          158265.0|             3044.0| 3216305|          801437.0|   4013171|       Europe|               6|              328|               1|          155220.65|                   0.0|                  0.0|
|1762345498499|            N. Korea|{'_id': 408, 'iso...| 4772813|         0|    74|          0|  4772739|             0|     0|       0|          183636.0|                3.0|       0|               0.0|  25990679|         Asia|               5|           351225|               0|                0.0|             183632.72|                  0.0|
|1762345498626|              Belize|{'_id': 84, 'iso2...|   71409|         0|   688|          0|        0|             0| 70721|       0|          173243.0|             1669.0|  576016|         1397453.0|    412190|North America|               6|              599|               1|          171573.79|                   0.0|                  0.0|
+-------------+--------------------+--------------------+--------+----------+------+-----------+---------+--------------+------+--------+------------------+-------------------+--------+------------------+----------+-------------+----------------+-----------------+----------------+-------------------+----------------------+---------------------+
only showing top 20 rows

In [62]:
donnees_sanitaires_api.count()

231

In [63]:
#Nettoyer les espaces dans toutes les colonnes texte
from pyspark.sql.functions import trim

for col_name in donnees_sanitaires_api.columns:
    donnees_sanitaires_api = donnees_sanitaires_api.withColumn(col_name, trim(col(col_name)))
donnees_sanitaires_api.show()

+-------------+--------------------+--------------------+--------+----------+------+-----------+---------+--------------+------+--------+------------------+-------------------+--------+------------------+----------+-------------+----------------+-----------------+----------------+-------------------+----------------------+---------------------+
|      updated|             country|         countryInfo|   cases|todayCases|deaths|todayDeaths|recovered|todayRecovered|active|critical|casesPerOneMillion|deathsPerOneMillion|   tests|testsPerOneMillion|population|    continent|oneCasePerPeople|oneDeathPerPeople|oneTestPerPeople|activePerOneMillion|recoveredPerOneMillion|criticalPerOneMillion|
+-------------+--------------------+--------------------+--------+----------+------+-----------+---------+--------------+------+--------+------------------+-------------------+--------+------------------+----------+-------------+----------------+-----------------+----------------+-------------------+----------------------+---------------------+
|1762345498701|British Virgin Is...|{'_id': 92, 'iso2...|    7392|         0|    64|          0|        0|             0|  7328|       0|          241600.0|             2092.0|  107339|         3508269.0|     30596|North America|               4|              478|               0|          239508.43|                   0.0|                  0.0|
|1762345498602|          Guadeloupe|{'_id': 312, 'iso...|  203235|         0|  1021|          0|        0|             0|202214|       0|          508349.0|             2554.0|  938039|         2346306.0|    399794|North America|               2|              392|               0|          505795.48|                   0.0|                  0.0|
|1762345498642|            Tanzania|{'_id': 834, 'iso...|   43223|         0|   846|          0|        0|             0| 42377|       0|             683.0|               13.0|       0|               0.0|  63298550|       Africa|            1464|            74821|               0|             669.48|                   0.0|                  0.0|
|1762345498493|             Ukraine|{'_id': 804, 'iso...| 5557995|         0|112418|          0|  5445577|             0|     0|       0|          128681.0|             2603.0|32603805|          754855.0|  43192122|       Europe|               8|              384|               1|                0.0|             126078.01|                  0.0|
|1762345498669|           Gibraltar|{'_id': 292, 'iso...|   20550|         0|   113|          0|        0|             0| 20437|       0|          609720.0|             3353.0|  534283|       1.5852213E7|     33704|       Europe|               2|              298|               0|           606367.2|                   0.0|                  0.0|
|1762345498655|      Cayman Islands|{'_id': 136, 'iso...|   31472|         0|    37|          0|     8553|             0| 22882|       1|          467797.0|              550.0|  222773|         3311280.0|     67277|North America|               2|             1818|               0|          340116.24|             127131.11|                14.86|
|1762345498658|               Macao|{'_id': 446, 'iso...|   27673|         0|   123|          0|     3487|             0| 24063|       0|           41458.0|              184.0|    7850|           11760.0|    667490|         Asia|              24|             5427|              85|           36049.98|               5224.05|                  0.0|
|1762345498475|              Taiwan|{'_id': 158, 'iso...|10241523|         0| 19005|          0| 10222518|             0|     0|       0|          428720.0|              796.0|30742304|         1286903.0|  23888595|         Asia|               2|             1257|               1|                0.0|             427924.62|                  0.0|
|1762345498494|               Chile|{'_id': 152, 'iso...| 5384853|         0| 64497|          0|  5252450|             0| 67906|       7|          279730.0|             3350.0|50382097|         2617225.0|  19250195|South America|               4|              298|               0|            3527.55|             272851.78|                 0.36|
|1762345498618|       French Guiana|{'_id': 254, 'iso...|   98041|         0|   420|          0|    11254|             0| 86367|       6|          312065.0|             1337.0|  651257|         2072951.0|    314169|South America|               3|              748|               0|          274906.18|              35821.48|                 19.1|
|1762345498649|         Isle of Man|{'_id': 833, 'iso...|   38008|         0|   116|          0|        0|             0| 37892|       0|          443335.0|             1353.0|  150753|         1758422.0|     85732|       Europe|               2|              739|               1|          441981.99|                   0.0|                  0.0|
|1762345498589|            Zimbabwe|{'_id': 716, 'iso...|  266359|         0|  5740|          0|   258888|             0|  1731|      12|           17373.0|              374.0| 2525756|          164744.0|  15331428|       Africa|              58|             2671|               6|             112.91|               16886.1|                 0.78|
|1762345498638|             Andorra|{'_id': 20, 'iso2...|   48015|         0|   165|          0|        0|             0| 47850|       0|          619844.0|             2130.0|  249838|         3225256.0|     77463|       Europe|               2|              469|               0|          617714.26|                   0.0|                  0.0|
|1762345498671|             Bermuda|{'_id': 60, 'iso2...|   18860|         0|   165|          0|    18685|             0|    10|       0|          304493.0|             2664.0| 1029558|       1.6622128E7|     61939|North America|               3|              375|               0|             161.45|             301667.77|                  0.0|
|1762345498616|     Channel Islands|{'_id': 832, 'iso...|  101717|         0|   228|          0|   101321|             0|   168|       0|          576421.0|             1292.0| 1252808|         7099551.0|    176463|       Europe|               2|              774|               0|             952.04|             574177.02|                  0.0|
|1762345498548|            Mongolia|{'_id': 496, 'iso...| 1011496|         0|  2284|          0|  1009212|             0|     0|       0|          299429.0|              676.0| 4030048|         1193000.0|   3378078|         Asia|               3|             1479|               1|                0.0|             298753.31|                  0.0|
|1762345498657|               Benin|{'_id': 204, 'iso...|   28036|         0|   163|          0|    27847|             0|    26|       0|            2193.0|               13.0|  604310|           47268.0|  12784726|       Africa|             456|            78434|              21|               2.03|               2178.15|                  0.0|
|1762345498562|             Moldova|{'_id': 498, 'iso...|  635145|         0| 12218|          0|        0|             0|622927|       0|          158265.0|             3044.0| 3216305|          801437.0|   4013171|       Europe|               6|              328|               1|          155220.65|                   0.0|                  0.0|
|1762345498499|            N. Korea|{'_id': 408, 'iso...| 4772813|         0|    74|          0|  4772739|             0|     0|       0|          183636.0|                3.0|       0|               0.0|  25990679|         Asia|               5|           351225|               0|                0.0|             183632.72|                  0.0|
|1762345498626|              Belize|{'_id': 84, 'iso2...|   71409|         0|   688|          0|        0|             0| 70721|       0|          173243.0|             1669.0|  576016|         1397453.0|    412190|North America|               6|              599|               1|          171573.79|                   0.0|                  0.0|
+-------------+--------------------+--------------------+--------+----------+------+-----------+---------+--------------+------+--------+------------------+-------------------+--------+------------------+----------+-------------+----------------+-----------------+----------------+-------------------+----------------------+---------------------+
only showing top 20 rows

In [64]:
# Paramètres de connexion
url = "jdbc:postgresql://postgres:5432/post_db_collect"
user = "admin"
password = "admin"
driver = "org.postgresql.Driver"

In [65]:
# Lire une table existante (exemple : table 'clients')
df_pg = spark.read \
    .format("jdbc") \
    .option("url", url) \
    .option("dbtable", "information_schema.tables") \
    .option("user", user) \
    .option("password", password) \
    .option("driver", driver) \
    .load()

df_pg.show(5)

+---------------+------------+----------------+----------+----------------------------+--------------------+-------------------------+------------------------+----------------------+------------------+--------+-------------+
|  table_catalog|table_schema|      table_name|table_type|self_referencing_column_name|reference_generation|user_defined_type_catalog|user_defined_type_schema|user_defined_type_name|is_insertable_into|is_typed|commit_action|
+---------------+------------+----------------+----------+----------------------------+--------------------+-------------------------+------------------------+----------------------+------------------+--------+-------------+
|post_db_collect|  pg_catalog|    pg_statistic|BASE TABLE|                        NULL|                NULL|                     NULL|                    NULL|                  NULL|               YES|      NO|         NULL|
|post_db_collect|  pg_catalog|         pg_type|BASE TABLE|                        NULL|                NULL|                     NULL|                    NULL|                  NULL|               YES|      NO|         NULL|
|post_db_collect|  pg_catalog|pg_foreign_table|BASE TABLE|                        NULL|                NULL|                     NULL|                    NULL|                  NULL|               YES|      NO|         NULL|
|post_db_collect|  pg_catalog|       pg_authid|BASE TABLE|                        NULL|                NULL|                     NULL|                    NULL|                  NULL|               YES|      NO|         NULL|
|post_db_collect|  pg_catalog|       pg_shadow|      VIEW|                        NULL|                NULL|                     NULL|                    NULL|                  NULL|                NO|      NO|         NULL|
+---------------+------------+----------------+----------+----------------------------+--------------------+-------------------------+------------------------+----------------------+------------------+--------+-------------+
only showing top 5 rows

In [67]:
donnees_sanitaires_api.write\
                      .format("jdbc") \
                      .option("url", url) \
                      .option("dbtable", "sante") \
                      .option("user", user) \
                      .option("password", password) \
                      .option("driver", driver).mode("overwrite").save()

25/11/10 12:28:30 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.